# Ignore Berkas Files directory
Berkas Files/
file png berkas 0-100/
file png berkas 100-200/
file png berkas 200-300/
file png berkas 300-400/
file png berkas 400-500/
file png berkas 500-600/
file png berkas 600-700/
file png berkas 700-800/
file png berkas 800-900/
file png berkas 900-968/
file png berkas sisa sobekan 400-500/